# Default ignored files
 /shelf/
 /.idea/workspace.xml

 ## Maven files
 target/
 *.log
 *.class
 *.jar
 *.war
 *.ear
 *.zip
 *.tar.gz
 *.tar
 *.tgz
 *.swp


 # IntelliJ IDEA files
 .idea/
*.iml

# macOS files
 .DS_Store
 _MACOSX/

# Application configuration files (if they contain sensitive data)
application.properties
application.yml

 # Temporary files
 *.tmp
 *.temp

 # Local environment variables
 .env

 ## Backup files
 *~

.idea/workspace.xml
.idea/
__MACOSX/


