# Default ignored files
/shelf/
/workspace.xml
# Maven files
target/
*.log
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar
*.tgz
*.swp

# IntelliJ IDEA files
.idea/
*.iml

# macOS files
.DS_Store
_MACOSX/
application.properties
application.yml

